-- Crear tabla usuario
DROP TABLE IF EXISTS `usuario`;
CREATE TABLE `usuario` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(180) NOT NULL,
  `password` varchar(255) NOT NULL,
  `roles` json NOT NULL,
  `api_token` varchar(64) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL,
  `verification_token` varchar(64) DEFAULT NULL,
  `username` varchar(50) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_2265B05DE7927C74` (`email`),
  UNIQUE KEY `UNIQ_2265B05DF85E0677` (`username`),
  UNIQUE KEY `UNIQ_2265B05D7BA2F5EB` (`api_token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- Crear tabla doctrine_migration_versions
DROP TABLE IF EXISTS `doctrine_migration_versions`;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

INSERT INTO `doctrine_migration_versions` VALUES
('DoctrineMigrations\\Version20250529235738','2025-06-01 14:09:25',619);

-- Crear tabla peluqueria
DROP TABLE IF EXISTS `peluqueria`;
CREATE TABLE `peluqueria` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `direccion` varchar(255) NOT NULL,
  `telefono` varchar(255) NOT NULL,
  `descripcion` longtext NOT NULL,
  `imagen` varchar(255) DEFAULT NULL,
  `logo` varchar(255) DEFAULT NULL,
  `peluqueros` json DEFAULT NULL,
  `productos` json DEFAULT NULL,
  `galeria` json DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- Crear tabla cita
DROP TABLE IF EXISTS `cita`;
CREATE TABLE `cita` (
  `id` int NOT NULL AUTO_INCREMENT,
  `peluqueria` varchar(255) NOT NULL,
  `peluquero` varchar(100) NOT NULL,
  `fecha_hora` datetime NOT NULL,
  `nombre_cliente` varchar(100) NOT NULL,
  `usuario_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_3E379A62DB38439E` (`usuario_id`),
  CONSTRAINT `FK_3E379A62DB38439E` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

INSERT INTO `cita` VALUES
(1,'AG Barber','Gonzalo','2025-06-01 12:00:00','Javier',2),
(2,'AG Barber','Adrian','2025-06-01 12:00:00','Javier',2),
(3,'AG Barber','Adrian','2025-06-01 11:00:00','Sofia',4);

-- Crear tabla compra
DROP TABLE IF EXISTS `compra`;
CREATE TABLE `compra` (
  `id` int NOT NULL AUTO_INCREMENT,
  `productos` json NOT NULL,
  `total` double NOT NULL,
  `fecha` datetime NOT NULL,
  `usuario_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_9EC131FFDB38439E` (`usuario_id`),
  CONSTRAINT `FK_9EC131FFDB38439E` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

