@import "tailwindcss";
@plugin "daisyui";
@import "tailwindcss/utilities";


.text-gold {
  color: #FFD700; 
}

.bg-black {
  background-color: #000000; 
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Nuevos estilos */
body {
  font-family: 'Inter', sans-serif;
}

.bg-gradient-to-r {
  background: linear-gradient(to right, #3b82f6, #9333ea);
}

.backdrop-blur-md {
  backdrop-filter: blur(12px);
}

.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transition {
  transition: all 0.3s ease-in-out;
}

/* Animación fade-in para tarjetas */
@keyframes fade-in {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}
.animate-fade-in {
  animation: fade-in 0.7s both;
}
.bg-peluqueria-clara {
  background-image: url('../src/assets/bg-peluqueria-clara.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.bg-peluqueria-oscura {
  background-image: url('../src/assets/bg-peluqueria-ocsura.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@keyframes spin-slow {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
.animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
}